@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@font-face {
    font-family: "karla-regular";
    src: url("./fonts/static/Karla-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "karla-medium";
    src: url("./fonts/static/Karla-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "karla-bold";
    src: url("./fonts/static/Karla-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "cooperbt-medium";
    src: url("./fonts/cooper-bt-medium-maisfontes.39d2/cooper-bt-medium.otf") format("opentype");
    font-weight: 700;
}



.karla-r {
    font-family: 'karla-regular', sans-serif;
}

.karla-m {
    font-family: 'karla-medium', sans-serif;
}

.karla-b {
    font-family: 'karla-bold', sans-serif;
}

.cooper-m {
    font-family: 'cooperbt-medium', serif;
}

li {
    list-style: none;
}

.headershadow {
    transition: all .2s ease-out;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 .125rem .25rem #00000020 !important;
    ;
}

.shopmodaloverlaybg {
    background-color: #00000080;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}


.offcanvascartAnimation {
    animation: offcanvas_cart_empty 1s linear alternate infinite
}


.comm {
    animation: scroll 45s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}


.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: 0px;
    /* Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
  }


  .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
    width: 15px;
    height: 15px;
    box-shadow: seashell;
}


.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:active {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
    background: black;
    border: 3px solid #ffff;
}


.pulse-dot-ring {
    animation: pulse_dot_animation 1s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.0
}
@keyframes pulse_dot_animation {
    0% {transform: scale(0.1, 0.1); opacity: 0.0;}
    50% { opacity: 1.0;}
    100% { transform: scale(1.2, 1.2); opacity: 0.0;}
}